.cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.cookie-banner-button {
    border: none;
    background-color: goldenrod;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

@media (max-width: 600px) {
    .cookie-banner {
        flex-direction: column;
        padding: 10px;
    }

    .cookie-banner p {
        margin-bottom: 10px;
    }

    .cookie-banner-button {
        width: 100%;
    }
}
